In [1]:
import pandas as pd
from pycaret.regression import *

In [2]:
df = pd.read_csv('crimedata.csv')

In [3]:
s = setup(df, 
          target = 'ViolentCrimesPerPop',
          silent = True,
          categorical_features = ['state', 'LemasGangUnitDeploy'],
          ignore_features = ['countyCode', 'communityCode', 'communityName'],
          ordinal_features = {'LemasGangUnitDeploy' : [0.0, 5.0, 10.0]},
          imputation_type = 'iterative',
          numeric_iterative_imputer = 'et',
          categorical_iterative_imputer = 'et',
          normalize = True,
          remove_outliers = True,
          feature_selection = True,
          remove_multicollinearity = True,
          pca = True,
          pca_components = 10)

In [4]:
lr = create_model('lr')

In [5]:
lr

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

In [6]:
evaluate_model(lr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [7]:
predict_model(lr)

,Component_1,Component_2,Component_3,Component_4,Component_5,Component_6,Component_7,Component_8,Component_9,Component_10,ViolentCrimesPerPop,Label
0,-4.095606,-0.695770,1.530730,1.376823,0.479754,-2.609076,0.930971,-0.682836,-0.717440,0.641129,208.529999,107.374264
1,-5.815947,0.151755,-3.421470,1.157282,1.865047,-0.695504,-1.023323,1.489747,-0.294569,-0.706200,103.959999,58.966176
2,2.581363,1.090293,4.565295,-1.613844,1.720110,2.532992,-1.035154,-1.268566,-1.078987,0.828989,167.729996,695.645228
3,-1.744714,-0.757299,1.758202,1.518765,-1.205190,-1.585442,-0.420404,-0.197037,0.411990,-0.348831,372.829987,321.263658
4,10.666744,5.496105,0.540075,-4.064889,1.230891,-5.292934,0.872788,1.128829,1.377448,0.397207,1874.949951,2315.702012
...,...,...,...,...,...,...,...,...,...,...,...,...
589,-2.994687,-0.087150,-2.309147,-0.820286,-0.000597,-0.232415,1.940028,2.256594,-0.623620,-0.293832,408.299988,274.675777
590,-2.915365,-1.193737,-3.919659,-2.469064,0.096554,0.198223,1.247583,2.257994,-0.067451,-0.301237,409.109985,379.889450
591,1.607951,-2.732617,0.110228,-1.457133,-1.554398,0.201240,1.306864,-0.966002,-0.401103,0.699301,591.119995,700.921938
592,-3.467339,-1.299952,1.257604,1.626262,-0.214398,-2.452482,0.938006,-0.940387,-0.124926,-0.698225,134.910004,110.091294
593,-1.320801,-0.568135,1.145288,2.533803,0.531971,-2.406135,-0.036338,1.366602,-1.074385,-1.034136,331.359985,348.128614

In [10]:
final_lr = finalize_model(lr)

In [11]:
save_model(final_lr, 'lr_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=['state',
                                                             'LemasGangUnitDeploy'],
                                       display_types=False,
                                       features_todrop=['countyCode',
                                                        'communityCode',
                                                        'communityName'],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[],
                                       target='ViolentCrimesPerPop',
                                       time_features=[])),
                 ('imputer',
                  Iterative_Imputer(add_indicator=Fals...
                                        correlation_with_target_threshold=0.0,
                                        target_variable='ViolentCrimesPerPop',
                                        threshold=0.9)),
                 ('dfs', 'passthrough'),
                 ('pca',
                  Reduce_Dimensions_For_Supervised_Path(method='pca_liner',
                                                        random_state=1231,
                                                        target='ViolentCrimesPerPop',
                                                        variance_retained_or_number_of_components=None)),
                 ['trained_model',
                  LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1,
                                   normalize=False)]],
          verbose=False),
 'lr_model.pkl')