In [1]:
import pandas as pd
from pycaret.regression import *

In [2]:
col = ["state", "county", "community", "communityname", "fold", "population", "householdsize", "racepctblack", "racePctWhite", "racePctAsian", "racePctHisp", "agePct12t21", "agePct12t29", "agePct16t24", "agePct65up", "numbUrban", "pctUrban", "medIncome", "pctWWage", "pctWFarmSelf", "pctWInvInc", "pctWSocSec", "pctWPubAsst", "pctWRetire", "medFamInc", "perCapInc", "whitePerCap", "blackPerCap", "indianPerCap", "AsianPerCap", "OtherPerCap", "HispPerCap", "NumUnderPov", "PctPopUnderPov", "PctLess9thGrade", "PctNotHSGrad", "PctBSorMore", "PctUnemployed", "PctEmploy", "PctEmplManu", "PctEmplProfServ", "PctOccupManu", "PctOccupMgmtProf", "MalePctDivorce", "MalePctNevMarr", "FemalePctDiv", "TotalPctDiv", "PersPerFam", "PctFam2Par", "PctKids2Par", "PctYoungKids2Par", "PctTeen2Par", "PctWorkMomYoungKids", "PctWorkMom", "NumIlleg", "PctIlleg", "NumImmig", "PctImmigRecent", "PctImmigRec5", "PctImmigRec8", "PctImmigRec10", "PctRecentImmig", "PctRecImmig5", "PctRecImmig8", "PctRecImmig10", "PctSpeakEnglOnly", "PctNotSpeakEnglWell", "PctLargHouseFam", "PctLargHouseOccup", "PersPerOccupHous", "PersPerOwnOccHous", "PersPerRentOccHous", "PctPersOwnOccup", "PctPersDenseHous", "PctHousLess3BR", "MedNumBR", "HousVacant", "PctHousOccup", "PctHousOwnOcc", "PctVacantBoarded", "PctVacMore6Mos", "MedYrHousBuilt", "PctHousNoPhone", "PctWOFullPlumb", "OwnOccLowQuart", "OwnOccMedVal", "OwnOccHiQuart", "RentLowQ", "RentMedian", "RentHighQ", "MedRent", "MedRentPctHousInc", "MedOwnCostPctInc", "MedOwnCostPctIncNoMtg", "NumInShelters", "NumStreet", "PctForeignBorn", "PctBornSameState", "PctSameHouse85", "PctSameCity85", "PctSameState85", "LemasSwornFT", "LemasSwFTPerPop", "LemasSwFTFieldOps", "LemasSwFTFieldPerPop", "LemasTotalReq", "LemasTotReqPerPop", "PolicReqPerOffic", "PolicPerPop", "RacialMatchCommPol", "PctPolicWhite", "PctPolicBlack", "PctPolicHisp", "PctPolicAsian", "PctPolicMinor", "OfficAssgnDrugUnits", "NumKindsDrugsSeiz", "PolicAveOTWorked", "LandArea", "PopDens", "PctUsePubTrans", "PolicCars", "PolicOperBudg", "LemasPctPolicOnPatr", "LemasGangUnitDeploy", "LemasPctOfficDrugUn", "PolicBudgPerPop", "ViolentCrimesPerPop"]

In [3]:
df = pd.read_csv('communities.data', names = col, na_values='?')

In [4]:
s = setup(df, 
          target = 'ViolentCrimesPerPop',
          silent = True,
          categorical_features = ['state', 'LemasGangUnitDeploy'],
          ignore_features = ['county', 'community', 'communityname', 'fold'],
          ordinal_features = {'LemasGangUnitDeploy' : [0.0, 0.5, 1.0]},
          imputation_type = 'iterative',
          numeric_iterative_imputer = 'et',
          categorical_iterative_imputer = 'et',
          remove_outliers = True,
          polynomial_features = True,
          feature_selection = True,
          feature_selection_threshold = 0.55,
          remove_multicollinearity = True,
          pca = True,
          pca_components = 9)

In [5]:
br = create_model('br')

In [6]:
br

BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, alpha_init=None,
              compute_score=False, copy_X=True, fit_intercept=True,
              lambda_1=1e-06, lambda_2=1e-06, lambda_init=None, n_iter=300,
              normalize=False, tol=0.001, verbose=False)

In [7]:
evaluate_model(br)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [8]:
predict_model(br)

,Component_1,Component_2,Component_3,Component_4,Component_5,Component_6,Component_7,Component_8,Component_9,ViolentCrimesPerPop,Label
0,-0.506898,0.233647,-0.084127,0.452329,-0.048987,-0.059554,-0.352353,0.054424,0.027795,0.11,0.111653
1,0.956746,-0.368109,0.353234,0.144185,0.841728,-0.575798,0.076500,-0.039626,-0.137051,0.38,0.509260
2,-0.392808,0.493127,-0.326806,0.399905,-0.032779,-0.167888,-0.013324,0.044272,0.029495,0.29,0.165177
3,0.239781,-0.866051,-0.170897,0.016918,-0.457036,0.309981,-0.054836,-0.314141,0.062673,0.22,0.130649
4,-1.204957,0.176037,0.452112,-0.169497,0.348888,-0.120339,0.049276,0.123434,-0.089567,0.01,0.065005
...,...,...,...,...,...,...,...,...,...,...,...
594,0.973641,0.105370,0.396161,0.287452,0.085668,0.004041,-0.052756,-0.204517,-0.245033,0.15,0.369965
595,-0.697618,-0.074955,0.001086,0.475336,-0.026731,0.214143,-0.598979,-0.023381,0.068057,0.06,0.018573
596,0.384600,-0.425348,-0.517131,0.111509,-0.365634,0.197197,0.019256,-0.131496,0.018946,0.22,0.208232
597,-0.492614,0.360597,-0.168163,-0.116451,0.001864,-0.198921,-0.180910,-0.132415,-0.085745,0.14,0.193602
598,-0.508596,0.436475,-0.550900,-0.114085,-0.432648,-0.339627,0.068767,0.145870,-0.132276,0.13,0.195601

In [9]:
final_br = finalize_model(br)

In [10]:
save_model(final_br, 'br_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=['state',
                                                             'LemasGangUnitDeploy'],
                                       display_types=False,
                                       features_todrop=['county', 'community',
                                                        'communityname',
                                                        'fold'],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[],
                                       target='ViolentCrimesPerPop',
                                       time_features=[])),
                 ('imputer',
                  Iterative_Imputer(add_indicator=False...
                  Reduce_Dimensions_For_Supervised_Path(method='pca_liner',
                                                        random_state=7143,
                                                        target='ViolentCrimesPerPop',
                                                        variance_retained_or_number_of_components=None)),
                 ['trained_model',
                  BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, alpha_init=None,
                                compute_score=False, copy_X=True,
                                fit_intercept=True, lambda_1=1e-06,
                                lambda_2=1e-06, lambda_init=None, n_iter=300,
                                normalize=False, tol=0.001, verbose=False)]],
          verbose=False),
 'br_model.pkl')